.dev-icons-languages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
}

.software-skill-inline-languages {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
  font-family: "Google Sans Regular";
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  cursor: pointer;
}

.software-skill-inline-languages span,
.software-skill-inline-languages svg {
  font-size: 1.8rem !important;
  height: 1.8rem !important;
  width: auto !important;
  vertical-align: middle;
  transition: all 0.5s ease;
}

.software-skill-inline-languages:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 0 10px rgba(111, 197, 255, 0.8));
}

.software-skill-inline-languages:active {
  transform: scale(0.95);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

@media (max-width: 768px) {
  .software-skill-inline-languages {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
