.experience-accord {
  margin: 100px 50px 50px 50px;
}

.accord-panel {
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 60px 20px 20px 20px;
  }
}
